/*header*/
.main__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__right {
    display: flex;
}

.right__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin: 0px 10px;
    cursor: pointer;
}

.right__icon__reload {
    background-color: aquamarine;
    border-radius: 100%;
    padding: 5px;
    cursor: pointer;
}

.right__icon__menu {
    display: none;
    background-color: #F5982A;
    border: solid 2px black;
}

.right__icon__menu.active {
    display: flex;
}

.right__icon__closemenu {
    display: none;
    background-color: #F5982A;
    border: solid 2px black;
}

.right__icon__closemenu.active {
    display: flex;
}

/**/

.game__forca {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.forca__img {
    margin: 0px;
    height: 50vh;
    margin-right: 15px;
}

.game__right {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    align-items: center;
    justify-content: space-between;
}

.main__game {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.game__right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game__right--top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
}

.game__dica {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.7em;
    border: 1px solid;
    width: 35px;
    height: 35px;
    margin: 0px;
    padding: 0px;
    background-color: #FEFFBA;
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s;
}

.game__dica:hover {
    height: 70px;
}

.dica__number {
    margin: 0px;
    padding: 0px;
    width: 90%;
    border-top: 0.5px solid black;
}

.game__question {
    margin: 0px;
    width: 100%;
    text-align: center;
}

.game__answer {
    display: flex;
}

.answer__letra {
    border-bottom: 1px solid;
    font-size: 0px;
    width: 4.2vw;
    height: 7vw;
    text-align: center;
    margin: 0px 5px;
    transition: 0.5s;
}

.answer__letra.correct {
    font-size: 5vw;
}

.answer__letra.fixed {
    border-bottom: 0px solid;
    font-size: 5vw;
}

.teclado {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px 15vw;
}

.teclado__tecla {
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 500;
    border: 0px;
    margin: 10px;
    height: 40px;
    width: 40px;
    background-color: black;
    color: white;
    box-shadow: -2px 2px 4px rgb(0 0 0 / 46%);
    border-radius: 5px;
    transition: 0.5s;
}

.teclado__tecla.correct {
    color: rgb(16, 187, 0);
}

.teclado__tecla.incorrect {
    color: rgb(206, 0, 0);
}

.teclado__tecla:hover {
    transform: scale(1.2);
}

.main__maxwindow {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90%;
    z-index: 100;
}

.main__maxwindow.active {
    display: flex;
}

.maxwindow__end {
    transform: translateX(-1500px);
    height: 60%;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(50% 50% at 50% 50%, rgba(83, 0, 189, 0.93) 0%, rgba(3, 0, 7, 0.93) 100%);
    border: 1px solid rgb(82, 0, 189);
    border-radius: 7px;
    box-shadow: -22px 25px 4px rgba(0, 0, 0, 0.5);
    transition: 2s;
}

.main__maxwindow--win {
    width: 100vw;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    height: 90%;
    z-index: 100;
}
.main__maxwindow--win.active {
    display: flex;
}
.maxwindow__win {
    transform: translateX(-1500px);
    height: 60%;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.18);
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 255, 55, 0.45) 0%, rgba(0, 255, 209, 0.45) 100%);
    transition: 2s;
}

.maxwindow__end.active {
    transform: translateX(0px);
}
.maxwindow__win.active {
    transform: translateX(0px);
}

.maxwindow--menu {
    display: none;
    justify-content: flex-end;
    width: 97vw;
}

.maxwindow--menu.active {
    display: flex;
}

.end__continue {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.end__title {
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 7vw;
    margin: 0px;
}

.win__title {
    text-align: center;
    color: black;
    font-weight: 500;
    font-size: 7vw;
    margin: 0px;
}

.win__title.title--2 {
    font-size: 5vw;
    font-weight: 400;
}
.win__button {
    background-color: greenyellow;
    padding: 4px 25px;
    cursor: pointer;
    font-size: 3vw;
    margin-top: 20px;
    border: 1px solid;
    border-radius: 3px;
}
.end__title.title--2 {
    color: white;
    font-weight: 500;
    font-size: 3vw;
    margin: 10px 0px;
}

.end__buttom {
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 500;
    padding: 5px 40px;
    transition: 0.2s;
}

.end__buttom:hover {
    transform: scale(1.05);
}

.buttom--no {
    background-color: #BD2C2C;
}

.buttom--yes {
    background-color: #A8FFCB;
}

.main__menu {
    transform: translateX(500px);
    padding: 0px;
    margin: 0px 20px 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    height: 90%;
    width: 250px;
    background: linear-gradient(180deg, rgba(83, 0, 189, 0.4557) 52.7%, rgba(0, 0, 0, 0.93) 100%);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: 0.5s;
}

.main__menu.active {
    transform: translateX(0px);
}

.menu__button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px 5px 20px;
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid;
    cursor: pointer;
    font-size: 1.5em;
    color: white;
    transition: 0.5s;
    text-decoration: none;
    align-items: center;
}

.menu__button:hover {
    transform: scale(1.1);
    color: #000000;
}

.icon__follow {
    border-radius: 9px;
}

.menu__button:hover .icon__follow {
    color: #fff;
    background: linear-gradient(225deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
}

.menu__title {
    width: 100%;
    text-align: center;
    color: #ffffff;
}

.menu__p {
    text-align: center;
    color: white;
}

@media screen and (max-width: 829px) {
    .teclado {
        margin: 0px 0vw;
    }
}
@media screen and (max-width: 580px) {
    .forca__img,.game__right {
        height: 40vh;
    }
}
@media screen and (max-width: 520px) {
    .forca__img {
        display: none;
    }
}
@media screen and (max-width: 459px) {
    .teclado__tecla {
        margin: 8px;
    }
}
@media screen and (max-width: 431px) {
    .game__right {
        height: 30vh;
    }
}
@media screen and (max-width: 319px) {
    .teclado__tecla {
        margin: 4px;
    }
    body {
        padding: 0px;
    }
}