*,
*::before,
*::after {
    box-sizing: border-box;
}


a,
button {
    cursor: revert;
}


ol,
ul,
menu {
    list-style: none;
}


img {
    max-width: 100%;
}


table {
    border-collapse: collapse;
}


textarea {
    white-space: revert;
}

meter {
    -webkit-appearance: revert;
    appearance: revert;
}


::placeholder {
    color: unset;
}


:where([hidden]) {
    display: none;
}


:where([draggable="true"]) {
    -webkit-user-drag: element;
}